* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #ff7eb3, #ff758c, #ff6a7a);
  color: #fff;
  font-family: "Arial", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  height: 280px;
  border: solid 2px wheat;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 3px black;
}

.quote-box {
  height: 100px;
  background-color: rgb(227, 226, 224);
  width: 80%;
  border-radius: 8px;
  box-shadow: 5px 0px 0px blue inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #555555;
  font-size: 35px;
  padding-top: 10px;
  position: relative;
  bottom: 40px;
}

p {
  font-family: "Arial", sans-serif;
  font-style: italic;
  color: #555555;
  font-size: 18px;
}
@media (max-width: 650px) {
  .quote-box {
    width: 90%;
    padding: 15px;
  }
  p {
    font-size: 14px;
    line-height: 1.4;
  }
}
